<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="upload" method="post" enctype="multipart/form-data">
    <p><input type="file" name="fileName"/></p>
    <p><input type="submit" value="上传视频"/></p>
</form>

视频：
<video width="320" height="240" controls>
    <source src="/images/1.mp4" type="video/mp4">
    您的浏览器不支持Video标签。
</video>
<video width="320" height="240" controls>
    <source src="/images/2.mp4" type="video/mp4">
    您的浏览器不支持Video标签。
</video>
图片:<img src="/images/1.jpeg">
</body>
</html>